@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  background: #1F1E24;
  height: 200px;
  font-family: 'Open Sans', sans-serif;
}

#nav {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow:1px 1px 20px 0 #000;

}

.content {
    width: 50%;
    margin: 0 auto;
    overflow: auto;
    padding:0 20px;
}

#nav .nav-item {
    float: left;
    width: 20%;
    color: #1F1E24;
}

#nav .nav-item a {
    font-family: Arial, Helveica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 10px 0;
    display: block;
    text-align: center;

}

#nav .nav-item:hover a {
    background: #8C8C8C;
    color: #333;
}

.submenu {
    width: 100%;
    background: #8C8C8C;
    position: absolute;
    left:0;
    padding:20px 0;
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color:#333;
    text-transform: uppercase;

}

#nav .nav-item:hover .submenu {
    visibility: visible;
}

.wrapper {
  margin: 60px auto;
  width: 50%;
  margin-top: 15px;
  color: white;
}

.pokemon-text {
  position: relative;
  width: 50%;
  overflow: hidden;
  margin: 60px auto;
}

.pokemon-text p {
  text-align: justify;
  width: 61%;
  color: white;
}
.pokemon-text p1 {
  text-align: left;
  width: 61%;
  font-weight: bold;
  color: white;
  line-height: 40px;
}

.pokemon-text p2 {
  text-align: left;
  width: 61%;
  font-weight: bold;
  color: white;
  line-height: 40px;
}
.pokemon-text img {
  margin-right: 15px;
  float: right;
}

.pokemon-text h1 {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 14px;
  display: inline-block;
  letter-spacing: 4px;
}

.quick-move-info {
  display: none;
}

.bar {
  position: relative;
  width: 100%;
  height: 38px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 1.5rem;
  border-radius: 5px;
}
.bar .bar-info {
  border-radius: 5px;
  padding: 0.75rem;
  background: #fd7473;
  color: white;
  width: 10%;
  position: relative;
  height: 14px;
  transition: width 3.3s ease-in-out;
}

.skillbar-title {
	position: relative;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	/*background:#fd7473;*/
}
.skillbar-title span {
  display: block;
  float: right;
  text-align: right;
	background: rgba(0, 0, 0, 0.1);
}

.bar .bar-info .percent {
  float: right;
}
.bar .bar-info.att {
  background: linear-gradient(#fd7473, #FC688E), #fd7473;
}
.bar .bar-info.def {
  background: linear-gradient(#fec951, #FCAD44), #fec951;
}
.bar .bar-info.sta {
  background: linear-gradient(#47b8e0, #28BEFA), #47b8e0;
}
.bar .bar-info.wp {
  background: linear-gradient(#9f68d0, #BB68D0), #9f68d0;
}
.bar .bar-info.quick-air {
  background: linear-gradient(to right, rgba(99,147,193,1) 1%,rgba(114,191,249,1) 100%);
}
.bar .bar-info.quick-fire {
  background: linear-gradient(to right, rgba(255,116,0,1) 0%,rgba(255,133,40,1) 100%);
}
.bar .bar-info.quick-dark {
  background: linear-gradient(to right, rgba(48,48,48,1) 0%,rgba(48,48,53,1) 99%);
}
.bar .bar-info.quick-ghost {
  background: linear-gradient(to bottom, #a500a0 0%,#570068 100%);
}
.bar .bar-info.quick-dragon {
  background:  linear-gradient(to right, rgba(203,96,179,1) 0%,rgba(165,107,148,1) 33%,rgba(163,40,126,1) 34%,rgba(163,40,126,1) 65%,rgba(163,40,126,1) 65%,rgba(168,0,119,1) 66%,rgba(168,0,119,1) 100%);
}
.bar .bar-info.charge-fight {
  background:  linear-gradient(to right, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
}
