@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  background: #1F1E24;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  align-items: center;

}

/* NAVIGATION BAR */
#nav {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow:1px 1px 20px 0 #000;

}

.content {
    width: 50%;
    margin: 0 auto;
    overflow: auto;
    padding:0 20px;
}

#nav .nav-item {
    float: left;
    width: 20%;
    color: #1F1E24;
}

#nav .nav-item a {
    font-family: Arial, Helveica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 10px 0;
    display: block;
    text-align: center;

}

#nav .nav-item:hover a {
    background: #8C8C8C;
    color: #333;
}

.submenu {
    width: 100%;
    background: #8C8C8C;
    position: absolute;
    left:0;
    padding:20px 0;
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color:#333;
    text-transform: uppercase;

}

#nav .nav-item:hover .submenu {
    visibility: visible;
}
/* END OF NAVIGATION BAR */

.wrapper {
  margin: 60px auto;
  width: 50%;
  margin-top: 15px;
  color: white;
}

.pokemon-text {
  position: relative;
  width: 50%;
  overflow: hidden;
  margin: 60px auto;
}

.pokemon-text p {
  text-align: justify;
  width: 61%;
  color: white;
}
.pokemon-text p1 {
  text-align: left;
  width: 61%;
  font-weight: bold;
  color: white;
  line-height: 40px;
}

.pokemon-text p2 {
  text-align: left;
  width: 61%;
  font-weight: bold;
  color: white;
  line-height: 40px;
}
.pokemon-text img {
  margin-right: 15px;
  float: right;
}

.pokemon-text h1 {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 14px;
  display: inline-block;
  letter-spacing: 4px;
}

.quick-move-info {
  display: none;
}

.text-box-area {
  margin: 20px 0px 0px 400px;
  width: 40%;
  display:flex;
  justify-content: left;
  align-items: left;
 }

.text-box-area p {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.egg-checkbox {
}

.attributes-checkbox {
  margin-left: 20px;
}

.pokemon-cp-hp-sd {
  margin: 0px 20px  0px 400px;
  width: 40%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:normal;
  font-size:1em;
  line-height:1em;
  color:#A8A7A8;
  /*
  float:left;
  width: 100%;
  max-width:75.000em;
  font-weight:normal;
  font-size:1em;
  line-height:1em;
  color:#A8A7A8;
  padding:1em 0;  overflow:hidden;
  */
 }

.pokemon-cp-hp-sd input {
  width: 20%;
  padding: 10px 0px;
  margin: 60px auto;
  font-size: 14px;
  color: white;
  background: transparent;
  letter-spacing: 2px;
  border: none;
  border-bottom: 1px solid white;

}
.pokemon-cp-hp-sd input:focus {
  outline: none;
  color: #FFF;
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 0 2px 2px 0 white;
}

.section-textbox {
  display: block;
  flex-direction: column;
  padding: 0.5em;
  margin: 60px auto;
  width: 50%;
  margin-top: 15px;
  color: white;
}

/* BUTTON BERECHNEN IV RECHNER */
button {
		border: 0;
	  width: 270px;
	  padding: 10px;
	  margin: 20px auto;
		-webkit-border-radius: 5px;
		   -moz-border-radius: 5px;
	   			  border-radius: 5px;
	  display: block;
	  text-decoration: none;
	 	text-align: center;
	  font-size: 1.2em;
    outline: 0;
    background-color: gray;
}

button:hover {
	  -webkit-transition: background-color 1s ease-in;
	 	   -moz-transition: background-color 1s ease-in;
	 	  	 -o-transition: background-color 1s ease-in;
	     	    transition: background-color 1s ease-in;
}

button:active {
		margin-top: 22px;
    margin-bottom: -2px;
}

/* Control the colour scheme */

button .update {
		color: #FFF;
		background: #8bbc37;
	  -webkit-box-shadow: 0 3px 1px #64950d;
		   -moz-box-shadow: 0 3px 1px #64950d;
		   		  box-shadow: 0 3px 1px #64950d;
}
button .update:hover {background: #85b237;}
button .update:active {
	  -webkit-box-shadow: 0 1px 1px #64950d;
		   -moz-box-shadow: 0 1px 1px #64950d;
		     		box-shadow: 0 1px 1px #64950d;
}

button .delete {
		color: #FFF;
		background: #bc3737;
	  -webkit-box-shadow: 0 3px 1px #950d0d;
		   -moz-box-shadow: 0 3px 1px #950d0d;
		   		  box-shadow: 0 3px 1px #950d0d;
}
button .delete:hover {background: #b23737;}
button .delete:active {
		margin-top: 22px;
	  -webkit-box-shadow: 0 1px 1px #950d0d;
		   -moz-box-shadow: 0 1px 1px #950d0d;
		     		box-shadow: 0 1px 1px #950d0d;
}

select option[data-default] {
  color: #888;
}

/* BAR DESIGN POKEMON PAGES */
.bar {
  position: relative;
  width: 100%;
  height: 38px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 1.5rem;
  border-radius: 5px;
}
.bar .bar-info {
  border-radius: 5px;
  padding: 0.75rem;
  background: #fd7473;
  color: white;
  width: 10%;
  position: relative;
  height: 14px;
  transition: width 3.3s ease-in-out;
}

.skillbar-title {
	position: relative;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	/*background:#fd7473;*/
}
.skillbar-title span {
  display: block;
  float: right;
  text-align: right;
	background: rgba(0, 0, 0, 0.1);
}

.bar .bar-info .percent {
  float: right;
}
.bar .bar-info.att {
  /*background: linear-gradient(#fd7473, #FC688E), #fd7473;*/
}
.bar .bar-info.def {
  background: linear-gradient(#fec951, #FCAD44), #fec951;
}
.bar .bar-info.sta {
  background: linear-gradient(#47b8e0, #28BEFA), #47b8e0;
}
.bar .bar-info.wp {
  background: linear-gradient(#9f68d0, #BB68D0), #9f68d0;
}
.bar .bar-info.quick-air {
  /*background: linear-gradient(to right, rgba(99,147,193,1) 1%,rgba(114,191,249,1) 100%);*/
  background-image: url("../images/types/type_flying.png");
}
.bar .bar-info.quick-fire {
  background: linear-gradient(to right, rgba(255,116,0,1) 0%,rgba(255,133,40,1) 100%);
}
.bar .bar-info.quick-dark {
  background: linear-gradient(to right, rgba(48,48,48,1) 0%,rgba(48,48,53,1) 99%);
}
.bar .bar-info.quick-ghost {
  background: linear-gradient(to bottom, #a500a0 0%,#570068 100%);
}
.bar .bar-info.quick-dragon {
  background:  linear-gradient(to right, rgba(203,96,179,1) 0%,rgba(165,107,148,1) 33%,rgba(163,40,126,1) 34%,rgba(163,40,126,1) 65%,rgba(163,40,126,1) 65%,rgba(168,0,119,1) 66%,rgba(168,0,119,1) 100%);
}
.bar .bar-info.charge-fight {
  background:  linear-gradient(to right, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
}
/* END OF BARDESIGN */

/* START OF TABLEDESIGN */
.tg  {
  border-collapse:collapse;
  border-spacing:0;
  cursor: text;
}
.tg td{
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:20px 20px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
}
.tg th{font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:20px 20px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  cursor: default;
}
.tg th.selected {
  background-color: green;
}

.tg th.effective {
  background-color: green;
}
.tg th.noteffective {
  background-color: yellow;
}
.tg th.immun {
  background-color: red;
}
.tg .tg-baqh{
  text-align:center;
  vertical-align:top;
}
.tg .tg-yw4l{
  vertical-align:top;
}
